


h2{
    /* font-family: "Rubik", sans-serif; */
    /* font-family: "Lora", serif; */
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 3rem;
    color: var(--second-text-color);
    text-align: center;
    margin-bottom: 2rem; 
}

h1{
    /* font-family: "Rubik", sans-serif; */
    /* font-family: "Lora", serif; */
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 3rem;
    color: var(--second-text-color);
    text-align: center;
    margin-bottom: 2rem; 
}



.btn{
    
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 14px 24px;
    border: none;
    background: var(--main-color);
    color: #fff;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    margin: 0 auto;
    
}



.search{
    --padding: 14px;
    width: max-content;
    display: flex;
    align-items: center;
    padding: var(--padding);
    border-radius: 28px;
    background: var(--main-color);
    transition: box-shadow 0.25s;
}

.search:focus-within{
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
}

.search input {
    font-size: 16px;
    color: #333333;
    margin-left: var(--padding);
    outline: none;
    border: none;
    background: transparent;
    width: 300px;
}

.search-input::placeholder,
.search-icon {
    color: rgba(0, 0, 0, 0.25);
}

.search input::placeholder {
    color: var(--text-color); 
}

.form-control {
    width: 100%;
}

.custom-btn-container {
    margin: 20px; 
    display: flex;
    justify-content: flex-end; 
}

#teste {
    display: none;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: 1rem;
    margin-top: 10px;
}

button svg {
    margin-right: 5px;
}

.btn {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 14px 24px;
    border: none;
    background: var(--main-color);
    color: var(--text-color);
}

button a {
    color: var(--text-color);
}

.dark-theme .btn {
    color: var(--text-color);
}

.custom-btn-container a{
    color: #fff;
 }
 .dark-theme .custom-btn-container a{
    color: var(--text-color);
 }


img{
    width: 100%;
    border-radius: 4px;
    margin-bottom: 10px;
}

section{
    padding: 10px;
    column-count: 4;
    column-gap: 10px;
}

